Códigos/Flujo Node-RED/Estación de Compost JGP.json
[
    {
        "id": "87a304397ab071e2",
        "type": "tab",
        "label": "TFG Javier Gil",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b60167af36f90a0d",
        "type": "inject",
        "z": "87a304397ab071e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2C3AE80EA525",
        "payloadType": "str",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "82a2b49255e8d590"
            ]
        ]
    },
    {
        "id": "82a2b49255e8d590",
        "type": "function",
        "z": "87a304397ab071e2",
        "name": "",
        "func": "msg.topic=\"infind/espnowdevice\";\nmsg.payload ={\"mac\":msg.payload,\"topic\":\"config\", \"payload\":{\"sleep\":900,\"timeout\":4000}};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 160,
        "wires": [
            [
                "9a0944994a6a87b8",
                "3aa4a3ed44f9c188"
            ]
        ]
    },
    {
        "id": "9a0944994a6a87b8",
        "type": "mqtt out",
        "z": "87a304397ab071e2",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2b251178.95ad2e",
        "x": 890,
        "y": 160,
        "wires": []
    },
    {
        "id": "f21af1361ae116f8",
        "type": "comment",
        "z": "87a304397ab071e2",
        "name": "Envío de mensaje al dispositivo",
        "info": "",
        "x": 470,
        "y": 60,
        "wires": []
    },
    {
        "id": "555724660a60f462",
        "type": "comment",
        "z": "87a304397ab071e2",
        "name": "mensajes del dispositivo",
        "info": "",
        "x": 170,
        "y": 520,
        "wires": []
    },
    {
        "id": "af5708afbc2a25be",
        "type": "inject",
        "z": "87a304397ab071e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ECFABC58E695",
        "payloadType": "str",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "82a2b49255e8d590"
            ]
        ]
    },
    {
        "id": "9f8bf1ae99f582c9",
        "type": "function",
        "z": "87a304397ab071e2",
        "name": "",
        "func": "msg.topic = \"infind/espnowdevice\";\n\nif (msg.payload) {\n    msg.payload = {\"mac\":global.get(\"mac_seleccionada\"),\"topic\":\"fota\", \"payload\":null};\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 3200,
        "wires": [
            [
                "5863f997902e0d33"
            ]
        ]
    },
    {
        "id": "5863f997902e0d33",
        "type": "mqtt out",
        "z": "87a304397ab071e2",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2b251178.95ad2e",
        "x": 1870,
        "y": 3200,
        "wires": []
    },
    {
        "id": "aff731b08bd88c88",
        "type": "comment",
        "z": "87a304397ab071e2",
        "name": "Envío orden FOTA",
        "info": "",
        "x": 1470,
        "y": 3140,
        "wires": []
    },
    {
        "id": "622ac4639d8262ec",
        "type": "inject",
        "z": "87a304397ab071e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5CCF7FA1B123",
        "payloadType": "str",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "82a2b49255e8d590"
            ]
        ]
    },
    {
        "id": "58a0161e2cd92ef6",
        "type": "json",
        "z": "87a304397ab071e2",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 600,
        "wires": [
            [
                "668fc49123c4ac75"
            ]
        ]
    },
    {
        "id": "507ac751219f1063",
        "type": "mqtt in",
        "z": "87a304397ab071e2",
        "name": "",
        "topic": "infind/espnow/+/datos",
        "qos": "2",
        "datatype": "utf8",
        "broker": "2b251178.95ad2e",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 600,
        "wires": [
            [
                "58a0161e2cd92ef6",
                "eaa527a7b79673f9"
            ]
        ]
    },
    {
        "id": "951a7221aa8211ab",
        "type": "change",
        "z": "87a304397ab071e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].payload.T1",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 660,
        "wires": [
            [
                "7e41c6017e5f63cc"
            ]
        ]
    },
    {
        "id": "7e41c6017e5f63cc",
        "type": "ui_gauge",
        "z": "87a304397ab071e2",
        "name": "",
        "group": "b9094f8c26d851e0",
        "order": 2,
        "width": "7",
        "height": "5",
        "gtype": "gage",
        "title": "TEMPERATURA SENSOR 1",
        "label": "ºC",
        "format": "{{value | number:1}}",
        "min": "-10",
        "max": "60",
        "colors": [
            "#0080ff",
            "#008000",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1700,
        "y": 660,
        "wires": []
    },
    {
        "id": "55a81a278f7bb5ba",
        "type": "change",
        "z": "87a304397ab071e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].payload.T2",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 780,
        "wires": [
            [
                "f6134fa067f46f9f"
            ]
        ]
    },
    {
        "id": "f6134fa067f46f9f",
        "type": "ui_gauge",
        "z": "87a304397ab071e2",
        "name": "",
        "group": "b9094f8c26d851e0",
        "order": 4,
        "width": "7",
        "height": "5",
        "gtype": "gage",
        "title": "TEMPERATURA SENSOR 2",
        "label": "ºC",
        "format": "{{value | number:1}}",
        "min": "-10",
        "max": "60",
        "colors": [
            "#0080ff",
            "#008000",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1600,
        "y": 780,
        "wires": []
    },
    {
        "id": "9d7034c9e6817f94",
        "type": "change",
        "z": "87a304397ab071e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].payload.T3",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 900,
        "wires": [
            [
                "82872eb9f27bf71a"
            ]
        ]
    },
    {
        "id": "82872eb9f27bf71a",
        "type": "ui_gauge",
        "z": "87a304397ab071e2",
        "name": "",
        "group": "b9094f8c26d851e0",
        "order": 6,
        "width": "7",
        "height": "5",
        "gtype": "gage",
        "title": "TEMPERATURA SENSOR 3",
        "label": "ºC",
        "format": "{{value | number:1}}",
        "min": "-10",
        "max": "60",
        "colors": [
            "#0080ff",
            "#008000",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1600,
        "y": 900,
        "wires": []
    },
    {
        "id": "35f4e4aac7c5af8b",
        "type": "change",
        "z": "87a304397ab071e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].payload.hum",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 1040,
        "wires": [
            [
                "a90ba36e999cae4d"
            ]
        ]
    },
    {
        "id": "a90ba36e999cae4d",
        "type": "ui_gauge",
        "z": "87a304397ab071e2",
        "name": "",
        "group": "b9094f8c26d851e0",
        "order": 8,
        "width": "7",
        "height": "5",
        "gtype": "wave",
        "title": "SENSOR HUMEDAD",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0080ff",
            "#008000",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1580,
        "y": 1040,
        "wires": []
    },
    {
        "id": "2395b45e8c894841",
        "type": "comment",
        "z": "87a304397ab071e2",
        "name": "GRAFICAR ÚLTIMA LECTURA REALIZADA",
        "info": "",
        "x": 1400,
        "y": 600,
        "wires": []
    },
    {
        "id": "dc08cbf909f22a6b",
        "type": "mqtt in",
        "z": "87a304397ab071e2",
        "name": "",
        "topic": "infind/espnowpairing",
        "qos": "2",
        "datatype": "utf8",
        "broker": "2b251178.95ad2e",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 350,
        "y": 1760,
        "wires": [
            [
                "e6e11b2b70dfeaa8",
                "81dee41e4cd5050a"
            ]
        ]
    },
    {
        "id": "e6e11b2b70dfeaa8",
        "type": "json",
        "z": "87a304397ab071e2",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 550,
        "y": 1760,
        "wires": [
            [
                "b7fdb39480765b4d"
            ]
        ]
    },
    {
        "id": "529fe0c086c2ebce",
        "type": "mongodb out",
        "z": "87a304397ab071e2",
        "mongodb": "d6cb3481285aed5a",
        "name": "",
        "collection": "macs",
        "payonly": true,
        "upsert": true,
        "multi": false,
        "operation": "update",
        "x": 1410,
        "y": 1760,
        "wires": []
    },
    {
        "id": "b7fdb39480765b4d",
        "type": "function",
        "z": "87a304397ab071e2",
        "name": "search before update",
        "func": "msg.original = msg.payload;\nmsg.payload = {\"mac\":msg.payload.mac};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 1760,
        "wires": [
            [
                "710bee6918ce99ab"
            ]
        ]
    },
    {
        "id": "328490fb336e6e29",
        "type": "inject",
        "z": "87a304397ab071e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 810,
        "y": 2240,
        "wires": [
            [
                "5714101e03809fd9"
            ]
        ]
    },
    {
        "id": "5714101e03809fd9",
        "type": "mongodb in",
        "z": "87a304397ab071e2",
        "mongodb": "d6cb3481285aed5a",
        "name": "",
        "collection": "macs",
        "operation": "find",
        "x": 1030,
        "y": 2160,
        "wires": [
            [
                "1e2aa2d355fb8031",
                "7a0ce9c9a40e10ba"
            ]
        ]
    },
    {
        "id": "98348d2580a653a0",
        "type": "comment",
        "z": "87a304397ab071e2",
        "name": "Registro de dispositivos emparejados",
        "info": "",
        "x": 410,
        "y": 1660,
        "wires": []
    },
    {
        "id": "1e2aa2d355fb8031",
        "type": "ui_table",
        "z": "87a304397ab071e2",
        "group": "e5844a24b82eee5e",
        "name": "MAC Table",
        "order": 2,
        "width": "12",
        "height": "5",
        "columns": [
            {
                "field": "mac",
                "title": "MAC",
                "width": "30%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "nombre",
                "title": "Nombre",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "date",
                "title": "FECHA DE REGISTRO",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 190,
        "y": 2440,
        "wires": [
            [
                "d7b1e50e871e1bf0",
                "23e1c8b3079f4eb6"
            ]
        ]
    },
    {
        "id": "91ebc27932d1c646",
        "type": "ui_form",
        "z": "87a304397ab071e2",
        "name": "",
        "label": "",
        "group": "26eb0c42.180c94",
        "order": 6,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Tiempo de hibernacion (en segundos)",
                "value": "sleep",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Tiempo máximo de intento de conexión (en milisegundos)",
                "value": "timeout",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "sleep": "",
            "timeout": ""
        },
        "payload": "",
        "submit": "Enviar datos al servidor",
        "cancel": "",
        "topic": "",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 530,
        "y": 2820,
        "wires": [
            [
                "f632e878b65ee683"
            ]
        ]
    },
    {
        "id": "33f2532b520e7fbb",
        "type": "function",
        "z": "87a304397ab071e2",
        "name": "",
        "func": "msg.topic = \"infind/espnowdevice\";\nmsg.payload = {\n    \"mac\":flow.get('MAC'),\n    \"topic\": \"config\",\n    \"payload\": {\n        \"sleep\": flow.get('sleep'),\n        \"timeout\": flow.get('timeout')\n    }\n};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 2820,
        "wires": [
            [
                "40497facc61bd20a"
            ]
        ]
    },
    {
        "id": "40497facc61bd20a",
        "type": "mqtt out",
        "z": "87a304397ab071e2",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2b251178.95ad2e",
        "x": 1170,
        "y": 2820,
        "wires": []
    },
    {
        "id": "f632e878b65ee683",
        "type": "change",
        "z": "87a304397ab071e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sleep",
                "pt": "flow",
                "to": "payload.sleep",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "timeout",
                "pt": "flow",
                "to": "payload.timeout",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "MAC",
                "pt": "flow",
                "to": "mac_seleccionada",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 2820,
        "wires": [
            [
                "33f2532b520e7fbb"
            ]
        ]
    },
    {
        "id": "a76cd261df538842",
        "type": "mongodb out",
        "z": "87a304397ab071e2",
        "mongodb": "d6cb3481285aed5a",
        "name": "",
        "collection": "macs",
        "payonly": true,
        "upsert": true,
        "multi": false,
        "operation": "delete",
        "x": 710,
        "y": 3200,
        "wires": []
    },
    {
        "id": "d12acf45a271ad32",
        "type": "inject",
        "z": "87a304397ab071e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"mac\":\"2JGP3AE80525\",\"nombre\":\"pruebajgp\"}",
        "payloadType": "json",
        "x": 2390,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "7588e74a8959038a",
        "type": "function",
        "z": "87a304397ab071e2",
        "name": "Consulta todo",
        "func": "msg.payload={};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 2160,
        "wires": [
            [
                "5714101e03809fd9"
            ]
        ]
    },
    {
        "id": "7a0ce9c9a40e10ba",
        "type": "function",
        "z": "87a304397ab071e2",
        "name": "opciones",
        "func": "var opciones=[];\nfor (var i = 0; i < msg.payload.length; i++) { // añade datos a los arrays\n    var obj={};\n    if(msg.payload[i].hasOwnProperty(\"nombre\") && msg.payload[i].nombre!=null && msg.payload[i].nombre!=\"\")\n        obj[msg.payload[i].nombre]=msg.payload[i].mac;\n    else\n        obj[msg.payload[i].mac]=msg.payload[i].mac;\n    opciones.push(obj);\n}\nmsg.options=opciones;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 2600,
        "wires": [
            [
                "59234b4d27e31141"
            ]
        ]
    },
    {
        "id": "c29f496a3f149062",
        "type": "delay",
        "z": "87a304397ab071e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 580,
        "y": 2160,
        "wires": [
            [
                "7588e74a8959038a"
            ]
        ]
    },
    {
        "id": "4478a8c03b287469",
        "type": "comment",
        "z": "87a304397ab071e2",
        "name": "Generación de opciones MAC",
        "info": "",
        "x": 160,
        "y": 3000,
        "wires": []
    },
    {
        "id": "d7b1e50e871e1bf0",
        "type": "function",
        "z": "87a304397ab071e2",
        "name": "get mac",
        "func": "msg.payload=msg.payload.mac;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 2580,
        "wires": [
            [
                "59234b4d27e31141"
            ]
        ]
    },
    {
        "id": "8871526ece7219b3",
        "type": "inject",
        "z": "87a304397ab071e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"mac\":\"2JGP3AE80525\",\"nombre\":\"pruebajgp\"}",
        "payloadType": "json",
        "x": 2390,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "d5850c8cd92b5fcd",
        "type": "change",
        "z": "87a304397ab071e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "mac_seleccionada",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 2900,
        "wires": [
            [
                "f632e878b65ee683"
            ]
        ]
    },
    {
        "id": "ccb98b733ad30e8f",
        "type": "mongodb out",
        "z": "87a304397ab071e2",
        "mongodb": "3fa828c15bd37393",
        "name": "",
        "collection": "datos_compost",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 890,
        "y": 600,
        "wires": []
    },
    {
        "id": "668fc49123c4ac75",
        "type": "function",
        "z": "87a304397ab071e2",
        "name": "add date",
        "func": "msg.payload.date=new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 600,
        "wires": [
            [
                "ccb98b733ad30e8f"
            ]
        ]
    },
    {
        "id": "eaa527a7b79673f9",
        "type": "delay",
        "z": "87a304397ab071e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 400,
        "y": 680,
        "wires": [
            [
                "18847f74c6b6c984",
                "7fca8ee2e1081d02"
            ]
        ]
    },
    {
        "id": "18847f74c6b6c984",
        "type": "function",
        "z": "87a304397ab071e2",
        "name": "Consulta último",
        "func": "msg.payload={\"mac\":global.get(\"mac_seleccionada\")};\nmsg.limit=1;\nmsg.sort={\"date\":-1};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 900,
        "wires": [
            [
                "0ca3b3e614212e18"
            ]
        ]
    },
    {
        "id": "0ca3b3e614212e18",
        "type": "mongodb in",
        "z": "87a304397ab071e2",
        "mongodb": "3fa828c15bd37393",
        "name": "",
        "collection": "datos_compost",
        "operation": "find",
        "x": 990,
        "y": 900,
        "wires": [
            [
                "951a7221aa8211ab",
                "55a81a278f7bb5ba",
                "9d7034c9e6817f94",
                "35f4e4aac7c5af8b",
                "a83217e99022aec5"
            ]
        ]
    },
    {
        "id": "b6e00f04b8412ef3",
        "type": "inject",
        "z": "87a304397ab071e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 840,
        "wires": [
            [
                "18847f74c6b6c984",
                "7fca8ee2e1081d02"
            ]
        ]
    },
    {
        "id": "a83217e99022aec5",
        "type": "change",
        "z": "87a304397ab071e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].date",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 1140,
        "wires": [
            [
                "32f00e445c2bd31d"
            ]
        ]
    },
    {
        "id": "32f00e445c2bd31d",
        "type": "function",
        "z": "87a304397ab071e2",
        "name": "Hora y fecha",
        "func": "var fecha = new Date (msg.payload);\nmsg.payload = fecha.toLocaleString(\"es-ES\",{\"timeZone\":\"Europe/Madrid\"})\n;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 1140,
        "wires": [
            [
                "af59abcc092f9f68",
                "90e9ec1246c5f1f9"
            ]
        ]
    },
    {
        "id": "af59abcc092f9f68",
        "type": "ui_text",
        "z": "87a304397ab071e2",
        "group": "b9094f8c26d851e0",
        "order": 1,
        "width": "14",
        "height": "1",
        "name": "",
        "label": "Última actualización: ",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1700,
        "y": 1140,
        "wires": []
    },
    {
        "id": "59234b4d27e31141",
        "type": "ui_dropdown",
        "z": "87a304397ab071e2",
        "name": "",
        "label": "Seleccionar Nodo ",
        "tooltip": "",
        "place": "",
        "group": "26eb0c42.180c94",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 170,
        "y": 2780,
        "wires": [
            [
                "d5850c8cd92b5fcd",
                "ac122df71a62e3a4"
            ]
        ]
    },
    {
        "id": "8470a9ccd675aa0f",
        "type": "ui_text_input",
        "z": "87a304397ab071e2",
        "name": "",
        "label": "Nombrar/Renombrar nodo seleccionado",
        "tooltip": "Nombrar nodo seleccionado",
        "group": "26eb0c42.180c94",
        "order": 7,
        "width": "0",
        "height": "0",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "payload",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 940,
        "y": 3420,
        "wires": [
            [
                "a1a895489089a792"
            ]
        ]
    },
    {
        "id": "e6d25bcc6452de21",
        "type": "ui_button",
        "z": "87a304397ab071e2",
        "name": "",
        "group": "26eb0c42.180c94",
        "order": 8,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Asignar nombre",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 140,
        "y": 2160,
        "wires": [
            [
                "fff12c71ac8d4568"
            ]
        ]
    },
    {
        "id": "11bc2edab5a1ea40",
        "type": "ui_button",
        "z": "87a304397ab071e2",
        "name": "BTN_FOTA",
        "group": "26eb0c42.180c94",
        "order": 3,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Actualizar firmware del sensor ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 1450,
        "y": 3200,
        "wires": [
            [
                "9f8bf1ae99f582c9"
            ]
        ]
    },
    {
        "id": "a1a895489089a792",
        "type": "change",
        "z": "87a304397ab071e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "n_nombre",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 3420,
        "wires": [
            []
        ]
    },
    {
        "id": "fff12c71ac8d4568",
        "type": "function",
        "z": "87a304397ab071e2",
        "name": "update name",
        "func": "if (msg.payload) {\n    msg.payload= {\"mac\":global.get(\"mac_seleccionada\"),\"nombre_dash\":global.get(\"n_nombre\")};\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 2160,
        "wires": [
            [
                "c29f496a3f149062",
                "b8f45a20610f8d24"
            ]
        ]
    },
    {
        "id": "7b912856be6f9272",
        "type": "comment",
        "z": "87a304397ab071e2",
        "name": "ACTUALIZAR NOMBRE",
        "info": "",
        "x": 230,
        "y": 3340,
        "wires": []
    },
    {
        "id": "484d02d47ba3e3db",
        "type": "function",
        "z": "87a304397ab071e2",
        "name": "buscar nombre",
        "func": "msg.payload={\"mac\":msg.payload};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 3420,
        "wires": [
            [
                "c7fd2d44e44b686f"
            ]
        ]
    },
    {
        "id": "c7fd2d44e44b686f",
        "type": "mongodb in",
        "z": "87a304397ab071e2",
        "mongodb": "d6cb3481285aed5a",
        "name": "",
        "collection": "macs",
        "operation": "find",
        "x": 470,
        "y": 3420,
        "wires": [
            [
                "eb2543f17a1db263"
            ]
        ]
    },
    {
        "id": "eb2543f17a1db263",
        "type": "function",
        "z": "87a304397ab071e2",
        "name": "",
        "func": "if (msg.payload[0].nombre!=undefined)\n    msg.payload = msg.payload[0].nombre;\nelse\n    msg.payload = \"\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 3420,
        "wires": [
            [
                "8470a9ccd675aa0f"
            ]
        ]
    },
    {
        "id": "dfe3c0d7eb27eb5f",
        "type": "delay",
        "z": "87a304397ab071e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 200,
        "y": 2580,
        "wires": [
            [
                "d7b1e50e871e1bf0"
            ]
        ]
    },
    {
        "id": "710bee6918ce99ab",
        "type": "mongodb in",
        "z": "87a304397ab071e2",
        "mongodb": "d6cb3481285aed5a",
        "name": "",
        "collection": "macs",
        "operation": "find",
        "x": 1000,
        "y": 1760,
        "wires": [
            [
                "69cc7c590e48f27c"
            ]
        ]
    },
    {
        "id": "69cc7c590e48f27c",
        "type": "function",
        "z": "87a304397ab071e2",
        "name": "update",
        "func": "if(msg.payload.length==0) // es nuevo en la coleccion\n{ \n    msg.payload = msg.original;\n    msg.payload.date= new Date(); // añade fecha\n}\nelse\n{  // ya está en la base de datos\n    msg.payload = msg.payload[0];\n    if(msg.original.nombre_dash!=null) \n        msg.payload.nombre=msg.original.nombre_dash;  // actualiza nombre\n    else\n        msg.payload.date= new Date();  // acutaliza fecha\n   // no quiero volver al nombre original si el mensaje de emparejamiento viniese con nombre\n   // if(msg.original.nombre!=null) msg.payload.nombre=msg.original.nombre;  // actualiza nombre\n}\nmsg.query={\"mac\":msg.payload.mac};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 1760,
        "wires": [
            [
                "529fe0c086c2ebce"
            ]
        ]
    },
    {
        "id": "ac122df71a62e3a4",
        "type": "link out",
        "z": "87a304397ab071e2",
        "name": "nuevo_nodo",
        "mode": "link",
        "links": [
            "990245c54697b7d1",
            "cc847bdfea46db5f"
        ],
        "x": 315,
        "y": 2940,
        "wires": []
    },
    {
        "id": "cc847bdfea46db5f",
        "type": "link in",
        "z": "87a304397ab071e2",
        "name": "",
        "links": [
            "ac122df71a62e3a4"
        ],
        "x": 75,
        "y": 3420,
        "wires": [
            [
                "484d02d47ba3e3db"
            ]
        ]
    },
    {
        "id": "990245c54697b7d1",
        "type": "link in",
        "z": "87a304397ab071e2",
        "name": "",
        "links": [
            "ac122df71a62e3a4"
        ],
        "x": 325,
        "y": 1040,
        "wires": [
            [
                "7fca8ee2e1081d02",
                "18847f74c6b6c984"
            ]
        ]
    },
    {
        "id": "b58be11b437e1093",
        "type": "ui_button",
        "z": "87a304397ab071e2",
        "name": "",
        "group": "26eb0c42.180c94",
        "order": 4,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Borrar nodo seleccionado",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "¿BORRAR NODO?",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 3200,
        "wires": [
            [
                "09fb91e6b67cfb46"
            ]
        ]
    },
    {
        "id": "354515dab2e956d3",
        "type": "inject",
        "z": "87a304397ab071e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5CCF7FA1B123",
        "payloadType": "str",
        "x": 720,
        "y": 400,
        "wires": [
            [
                "c91bb88cca676810"
            ]
        ]
    },
    {
        "id": "c91bb88cca676810",
        "type": "function",
        "z": "87a304397ab071e2",
        "name": "",
        "func": "msg.topic=\"infind/espnowdevice\";\nmsg.payload ={\"mac\":msg.payload,\"topic\":\"fota\", \"payload\":{\"sleep\":900,\"timeout\":4000}};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 400,
        "wires": [
            [
                "9a0944994a6a87b8"
            ]
        ]
    },
    {
        "id": "f577109e86a8948f",
        "type": "comment",
        "z": "87a304397ab071e2",
        "name": "BORRAR SENSOR DE TABLA",
        "info": "",
        "x": 190,
        "y": 3120,
        "wires": []
    },
    {
        "id": "01a3d0d00f2d02af",
        "type": "ui_text",
        "z": "87a304397ab071e2",
        "group": "26eb0c42.180c94",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CONFIGURAR PERIODO DE TOMA DE DATOS",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "21",
        "color": "#42c1b5",
        "x": 670,
        "y": 2740,
        "wires": []
    },
    {
        "id": "7deb63418fd045d3",
        "type": "ui_text",
        "z": "87a304397ab071e2",
        "group": "26eb0c42.180c94",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SELECCIONE UN SENSOR DE LA TABLA PARA SU CONFIGURACIÓN",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "21",
        "color": "#42c1b5",
        "x": 300,
        "y": 1600,
        "wires": []
    },
    {
        "id": "7fca8ee2e1081d02",
        "type": "link out",
        "z": "87a304397ab071e2",
        "name": "send_datos",
        "mode": "link",
        "links": [
            "c92c5b52259e918a",
            "fcef4cf5d6398cee",
            "f624fab9010c1a31",
            "7fee808708fa4ec6",
            "dc101689e5c69dd5",
            "80c38870ef5652a3",
            "9813da79a095b9fa",
            "273fbe70ea73361a",
            "fb18397ba2c09f8d"
        ],
        "x": 335,
        "y": 920,
        "wires": []
    },
    {
        "id": "90e9ec1246c5f1f9",
        "type": "ui_text",
        "z": "87a304397ab071e2",
        "group": "62bb676ed202c16b",
        "order": 2,
        "width": "20",
        "height": "1",
        "name": "",
        "label": "Última actualización: ",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1700,
        "y": 1220,
        "wires": []
    },
    {
        "id": "23e1c8b3079f4eb6",
        "type": "change",
        "z": "87a304397ab071e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.nombre",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 2440,
        "wires": [
            [
                "95d4b3d65ec3f0a4"
            ]
        ]
    },
    {
        "id": "95d4b3d65ec3f0a4",
        "type": "ui_text",
        "z": "87a304397ab071e2",
        "group": "62bb676ed202c16b",
        "order": 1,
        "width": "20",
        "height": "1",
        "name": "",
        "label": "Sensor: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 640,
        "y": 2440,
        "wires": []
    },
    {
        "id": "fb18397ba2c09f8d",
        "type": "link in",
        "z": "87a304397ab071e2",
        "name": "",
        "links": [
            "7fca8ee2e1081d02"
        ],
        "x": 145,
        "y": 3600,
        "wires": [
            [
                "d22421e2351c9e94"
            ]
        ]
    },
    {
        "id": "d22421e2351c9e94",
        "type": "function",
        "z": "87a304397ab071e2",
        "name": "Consulta 10 último",
        "func": "msg.payload={\"mac\":global.get(\"mac_seleccionada\")};\nmsg.limit=10;\nmsg.sort={\"date\":-1};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 3600,
        "wires": [
            [
                "2781a03944d62c06"
            ]
        ]
    },
    {
        "id": "2781a03944d62c06",
        "type": "mongodb in",
        "z": "87a304397ab071e2",
        "mongodb": "3fa828c15bd37393",
        "name": "",
        "collection": "datos_compost",
        "operation": "find",
        "x": 730,
        "y": 3600,
        "wires": [
            [
                "59c928271d044665"
            ]
        ]
    },
    {
        "id": "59c928271d044665",
        "type": "function",
        "z": "87a304397ab071e2",
        "name": "Agrupar datos temp",
        "func": "var t1Data = [];\nvar t2Data = [];\nvar t3Data = [];\nvar HumData = [];\nif(Array.isArray(msg.payload) && msg.payload.length>0)\n{\nfor (var i = 0; i < msg.payload.length; i++) {\n    t1Data.push({ x: msg.payload[i].date, y:msg.payload[i].payload.T1 });\n    t2Data.push({ x: msg.payload[i].date, y:msg.payload[i].payload.T2 });\n    t3Data.push({ x: msg.payload[i].date, y:msg.payload[i].payload.T3 });\n    HumData.push({ x: msg.payload[i].date, y:msg.payload[i].payload.hum });\n\n}\n}\nmsg.payload = [{\n        \"series\":[\"Temp 1\", \"Temp 2\",\"Temp 3\", \"Humedad %\" ],\n        \"data\":[t1Data, t2Data, t3Data, HumData],\n        \n        }];\n\nreturn msg;\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 3600,
        "wires": [
            [
                "47847531e948acad"
            ],
            [
                "47847531e948acad"
            ],
            [
                "47847531e948acad"
            ]
        ]
    },
    {
        "id": "47847531e948acad",
        "type": "ui_chart",
        "z": "87a304397ab071e2",
        "name": "",
        "group": "62bb676ed202c16b",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Gráfico Temporal de Temperaturas ºC y Humedad %",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "auto",
        "ymax": "auto",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#d62728",
            "#ffff00",
            "#2ca02c",
            "#8b8bf9",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1360,
        "y": 3600,
        "wires": [
            []
        ]
    },
    {
        "id": "7f391bb4ce07306d",
        "type": "function",
        "z": "87a304397ab071e2",
        "name": "",
        "func": "var ms_per_minute = 60000;\nvar now_ms = new Date().getTime();\nvar undia = new Date(now_ms-1440*ms_per_minute);\n\n\nmsg.payload={ \"date\":{\"$gte\" : undia}};\nmsg.sort = {\"date\": -1};\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 3680,
        "wires": [
            [
                "2781a03944d62c06"
            ]
        ]
    },
    {
        "id": "c90f957104766ddd",
        "type": "function",
        "z": "87a304397ab071e2",
        "name": "",
        "func": "var ms_per_minute = 60000;\nvar now_ms = new Date().getTime();\nvar unasemana = new Date(now_ms-10080*ms_per_minute);\n\n\nmsg.payload={ \"date\":{\"$gte\" : unasemana}};\nmsg.sort = {\"date\": -1};\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 3760,
        "wires": [
            [
                "2781a03944d62c06"
            ]
        ]
    },
    {
        "id": "7895a8c5e697cb60",
        "type": "ui_button",
        "z": "87a304397ab071e2",
        "name": "",
        "group": "62bb676ed202c16b",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Último Mes",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 3900,
        "wires": [
            [
                "8cbf9bd1d3a56c95"
            ]
        ]
    },
    {
        "id": "28eaa6a4c24e3550",
        "type": "ui_button",
        "z": "87a304397ab071e2",
        "name": "",
        "group": "62bb676ed202c16b",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Última Semana",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 3760,
        "wires": [
            [
                "c90f957104766ddd"
            ]
        ]
    },
    {
        "id": "00e2e34738cd0dc5",
        "type": "ui_button",
        "z": "87a304397ab071e2",
        "name": "",
        "group": "62bb676ed202c16b",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Últimas 24H",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 3680,
        "wires": [
            [
                "7f391bb4ce07306d"
            ]
        ]
    },
    {
        "id": "6615965090076030",
        "type": "ui_button",
        "z": "87a304397ab071e2",
        "name": "",
        "group": "62bb676ed202c16b",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "15 días",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 3840,
        "wires": [
            [
                "26ae9f214964aed0"
            ]
        ]
    },
    {
        "id": "26ae9f214964aed0",
        "type": "function",
        "z": "87a304397ab071e2",
        "name": "",
        "func": "var ms_per_minute = 60000;\nvar now_ms = new Date().getTime();\nvar unasemana = new Date(now_ms-10080*15*ms_per_minute/7);\n\n\nmsg.payload={ \"date\":{\"$gte\" : unasemana}};\nmsg.sort = {\"date\": -1};\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 3840,
        "wires": [
            [
                "2781a03944d62c06"
            ]
        ]
    },
    {
        "id": "8cbf9bd1d3a56c95",
        "type": "function",
        "z": "87a304397ab071e2",
        "name": "",
        "func": "var ms_per_minute = 60000;\nvar now_ms = new Date().getTime();\nvar unmes = new Date(now_ms-43800*ms_per_minute);\n\n\nmsg.payload={ \"date\":{\"$gte\" : unmes}};\nmsg.sort = {\"date\": -1};\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 3900,
        "wires": [
            [
                "2781a03944d62c06"
            ]
        ]
    },
    {
        "id": "62c8ec6516feecde",
        "type": "comment",
        "z": "87a304397ab071e2",
        "name": "GRÁFICO DE DATOS EN EL HISTÓRICO ESTACIÓN COMPOST",
        "info": "",
        "x": 240,
        "y": 3540,
        "wires": []
    },
    {
        "id": "3aa4a3ed44f9c188",
        "type": "debug",
        "z": "87a304397ab071e2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 100,
        "wires": []
    },
    {
        "id": "09fb91e6b67cfb46",
        "type": "function",
        "z": "87a304397ab071e2",
        "name": "",
        "func": "    msg.payload = {\"mac\":global.get(\"mac_seleccionada\")};\n\n\nreturn msg\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 3200,
        "wires": [
            [
                "a76cd261df538842",
                "71b9106343d47489"
            ]
        ]
    },
    {
        "id": "2670ef8aa1c438e7",
        "type": "link in",
        "z": "87a304397ab071e2",
        "name": "borrarnodo_in",
        "links": [
            "71b9106343d47489"
        ],
        "x": 475,
        "y": 2220,
        "wires": [
            [
                "c29f496a3f149062"
            ]
        ]
    },
    {
        "id": "71b9106343d47489",
        "type": "link out",
        "z": "87a304397ab071e2",
        "name": "borrarnodo_out",
        "mode": "link",
        "links": [
            "2670ef8aa1c438e7"
        ],
        "x": 615,
        "y": 3140,
        "wires": []
    },
    {
        "id": "a2386f37220583cd",
        "type": "link in",
        "z": "87a304397ab071e2",
        "name": "update name1",
        "links": [
            "b8f45a20610f8d24"
        ],
        "x": 585,
        "y": 1700,
        "wires": [
            [
                "b7fdb39480765b4d"
            ]
        ]
    },
    {
        "id": "b8f45a20610f8d24",
        "type": "link out",
        "z": "87a304397ab071e2",
        "name": "update name out",
        "mode": "link",
        "links": [
            "86f60bf87dd59741",
            "a2386f37220583cd"
        ],
        "x": 415,
        "y": 2060,
        "wires": []
    },
    {
        "id": "86f60bf87dd59741",
        "type": "link in",
        "z": "87a304397ab071e2",
        "name": "update name in",
        "links": [
            "b8f45a20610f8d24"
        ],
        "x": 65,
        "y": 2580,
        "wires": [
            [
                "dfe3c0d7eb27eb5f"
            ]
        ]
    },
    {
        "id": "81dee41e4cd5050a",
        "type": "link out",
        "z": "87a304397ab071e2",
        "name": "espnowpairingout",
        "mode": "link",
        "links": [
            "bff8323970948d15"
        ],
        "x": 515,
        "y": 1820,
        "wires": []
    },
    {
        "id": "bff8323970948d15",
        "type": "link in",
        "z": "87a304397ab071e2",
        "name": "",
        "links": [
            "81dee41e4cd5050a"
        ],
        "x": 485,
        "y": 2100,
        "wires": [
            [
                "c29f496a3f149062"
            ]
        ]
    },
    {
        "id": "b0222c2c4a587476",
        "type": "ui_spacer",
        "z": "87a304397ab071e2",
        "name": "spacer",
        "group": "dc4a43cd69efa163",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "848421f6659d1b23",
        "type": "ui_spacer",
        "z": "87a304397ab071e2",
        "name": "spacer",
        "group": "e0b0849c6fa4007c",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "18cd20f7d7fc7007",
        "type": "ui_spacer",
        "z": "87a304397ab071e2",
        "name": "spacer",
        "group": "5d86daf327739ab2",
        "order": 4,
        "width": "6",
        "height": "1"
    },
    {
        "id": "ebba1c5f65a3dc95",
        "type": "ui_spacer",
        "z": "87a304397ab071e2",
        "name": "spacer",
        "group": "26eb0c42.180c94",
        "order": 9,
        "width": "12",
        "height": "1"
    },
    {
        "id": "2b251178.95ad2e",
        "type": "mqtt-broker",
        "name": "iot infind",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b9094f8c26d851e0",
        "type": "ui_group",
        "name": "GRÁFICO ÚLTIMA LECTURA REALIZADA",
        "tab": "284e3dbe88bd71d3",
        "order": 3,
        "disp": true,
        "width": "14",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d6cb3481285aed5a",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "pairing",
        "name": ""
    },
    {
        "id": "e5844a24b82eee5e",
        "type": "ui_group",
        "name": "TABLA SENSORES REGISTRADOS",
        "tab": "284e3dbe88bd71d3",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "26eb0c42.180c94",
        "type": "ui_group",
        "name": "CONFIGURACIÓN ",
        "tab": "284e3dbe88bd71d3",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3fa828c15bd37393",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "compost",
        "name": ""
    },
    {
        "id": "62bb676ed202c16b",
        "type": "ui_group",
        "name": "Gráfica de Monitorización de Lecturas ",
        "tab": "21812ee818b42d34",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dc4a43cd69efa163",
        "type": "ui_group",
        "name": "DATOS",
        "tab": null,
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "284e3dbe88bd71d3",
        "type": "ui_tab",
        "name": "ESTACIÓN COMPOST",
        "icon": "build",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "21812ee818b42d34",
        "type": "ui_tab",
        "name": "HISTÓRICO ESTACIÓN COMPOST",
        "icon": "timeline",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]